:root {
	--maincolor: #722f37;
}

nav {
	background-color: var(--maincolor);
	color: white;
}

#root {
	margin: 0;
	text-align: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--maincolor);
	padding-top: 15px;
}

.logo {
	width: 5vw;
}

.navlist {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5em 1em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

.button-logo {
	background-color: var(--maincolor);
	border: none;
}

.region-button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5em 1em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
	margin: 20px;
}

.region {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.region-button img {
	width: 100%;
}

.vins {
	border: 5px solid var(--maincolor);
	border-radius: 15px;
}

.vins-liste {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.vins img {
	max-height: 150px;
}

body {
	margin: 0;
}
